site_name: Developer's Path
site_url: https://gharials.github.io/dev-path/
repo_url: https://github.com/gharials/dev-path
edit_uri: blob/main/docs/
nav:
  - Programming & Problem Solving:
    - Mathematics for Programming: programming/math-prog.md
    - Mental Models for Programmers: programming/mental-models.md
    - Programming Languages: programming/programming-languages.md
    - Data Structures: programming/data-structures.md
    - Problem Solving Tools: programming/problem-solving-tools.md
    - Problem Solving Tactics: programming/problem-solving-tactics.md
  - Operating Systems:
    - Operating System Basics: operating-systems/os-basics.md
  - Internet & Web:
    - Network & Internet Basics: internet-web/network-internet-basics.md
    - Working with HTTP: internet-web/http-in-depth.md
    - How Web Servers Work: internet-web/web-servers.md
    - How Web Pages Work: internet-web/web-pages.md
  - Building Softwares:
    - Web Applications: building-softwares/web-applications.md
    - Software Development Concepts: building-softwares/software-dev-concepts.md
    - Web Applications with React JS: building-softwares/react-js.md
  - Version Controlling with Git: vcs-git.md
copyright:
  Copyright &copy; 2024 Gharials.
theme:
  name: material
  icon:
    annotation: material/plus-circle
  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: gharials/dev-path
      branch: main

extra:
  disqus: dev-path
  analytics:
    provider: google
    property: G-SNZ8GRY8TV

extra_javascript:
  - javascripts/mathjax.js
  - javascripts/disqus.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
